<h1>Listing artworks</h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'Add New Artwork Image', new_artwork_path %>

<table>
  <tr>
    <th>Image</th>
    <th>Options</th>
    <th></th>
    <th></th>
  </tr>
  <!--http://www.gelaskins.com/images/artworkImages/fixed-182x182/1179.jpg-->
  <% @artworks.each do |artwork| %>
      <tr>
        <td><img src="http://www.gelaskins.com/images/artworkImages/fixed-182x182/<%= artwork.artwork_file_name %>" height="50" /></td>
        <td><%= link_to 'Process Image', artwork %> | </td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %> | </td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

